html {
    font-size: 16px;
}


body {
    background-color: #141519;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: #f9fbff;
    font-size: 1,5rem;
}


a {
    font-family: 'Source Code Pro', monospace;

}

li {
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color: #f9fbff;
    list-style-type: none;
}

p {
    font-family: 'Source Code Pro', monospace;
    color: #f9fbff;
}

footer {
    margin-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}

span {
    font-family: 'Source Code Pro', monospace;
}

.dropdown {
    display: none;
}

.btn {
    background-color: #7e6edb52;
}

.btn:hover {
    background-color: #7e6edb52;
}

.btn:active {
    background-color: #7e6edb52;
}



.about {
    font-family: 'Source Code Pro', monospace;
    color: #f9fbff;
    font-size: 1rem;
}


.myphoto {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 7px #666;
    border-radius: 200px;
}

.mainphoto {
    display: flex;
    justify-content: center;

}

.description {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 25%;
    height: auto;
}

.links {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    height: auto;
}

.bottom {
    padding: 1rem;
    color: #f9fbff;
    border: 1px solid #7f6edb;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
}

.bottom:hover {
    background-color: #7e6edb52;;
    box-shadow: 0 0 30px #b5aeda;
}

.project-text:hover {
    background-color: #7e6edb52;
    box-shadow: 0 0 30px #b5aeda;
}

.skills:hover {
    background-color: #7e6edb52;
    box-shadow: 0 0 30px #b5aeda;
    border-radius: 20px;
}

.section-anima {
    width: 100%;
    margin-top: 13rem;
    display: flex;
    justify-content: center;
}

.anima {
    width: 100%;
    display: flex;
    justify-content: center;

}

.experience-section {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.icon {
    margin-top: 1rem;
    width: 70px;
    height: 60px;
}

.project-text {
    box-sizing: border-box;
    width: 25%;
    height: auto;
    border: 1px solid #7f6edb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}

.work-text {
    padding: 1rem;
    font-family: 'Source Code Pro', monospace;
    color: #f9fbff;
    font-size: 0,8rem;
}

.about-section {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.about-title {
    margin-top: 13rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-text {
    box-sizing: border-box;
    width: 25%;
    height: auto;
    border: 1px solid #7f6edb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}

.about-text2 {
    box-sizing: border-box;
    width: 25%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid #7f6edb;
}
.skills-title {
    order: 1;
}

.skills {
    box-sizing: border-box;
    border: 1px solid #7f6edb;
    border-radius: 20px;
    width: 100px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-text3 {
    box-sizing: border-box;
    width: 25%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid #7f6edb;
}

.contscts-title {
    margin-top: 13rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts {
    margin-top: 4rem;
    padding-bottom: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    border-bottom: 2px solid #f9fbff;
}

.contact-icon {
    width: 50px;
    height: 50px;
    
}

.icon-soc {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #f9fbff;
}





/* адаптив */

@media (max-width: 767px) {
    body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    header {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center
    }

    .dropdown {
        display: block;
    }

    .links {
        display: none;
    }

    .experience-section {
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-flow: column wrap;
        gap: 1rem;
    }

    .about-section {
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-flow: column wrap;
        gap: 1rem;
    }

    .about-text, .about-text2, .about-text3 {
        width: 100%;
    }
    .mainphoto {
        width: 100%;
        order: -1;
    }

    .project-text {
        width: 100%;
    }

    .description {
        width: 100%;
        padding: 2rem;
    }

    .myphoto {
        width: 150px;
        height: 150px;
        box-shadow: 0 0 7px #666;
        border-radius: 75px;
    }

    
}

/* адаптив */




/* logo */


.bottom_animation {
    border-radius: 50%;
    border: 2px solid #7f6edb;
}

.ishimura {
    position: absolute;
    z-index: 10;
    top: 200px;
    width: 50px;
    height: 50px;
    background-color: #f498ad;
    border-radius: 25px;
}

.bottom_animation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.list-1 {
    position: absolute;
    width: 50px;
    height: 200px;
    border-radius: 25px/100px;
    border: 2px solid #7ff2ffd6;
}

.list-2 {
    position: absolute;
    width: 50px;
    height: 200px;
    border-radius: 25px/100px;
    border: 2px solid #7ff2ffd6;
    transform: rotate(62deg);
}

.list-3 {
    position: absolute;
    width: 50px;
    height: 200px;
    border-radius: 25px/100px;
    border: 2px solid #7ff2ffd6;
    transform: rotate(124deg);
}

/* logo */


